* {
    margin: 0;
    padding: 0;
}

.content {
    width: 100%;
    height: 100%;
    overflow-y: hidden;
}

img {
    width: 100%;
    height: 100%;
    position: absolute;
    top: 0;
    left: 0;
}

.bg1 {
    z-index: -10;
}

.bg2 {
    z-index: -20;
}

.bottomin {
    top: 50px;
    opacity: 0;
}

.fade {
    display: none;
}

.rightin {
    left: 800px;
}

.leftin {
    left: -800px;
}

.shake {
    display: none;
    -webkit-animation-name: "shake-animation";
    -webkit-animation-duration: 1s;
    -webkit-animation-iteration-count: infinite;
    -webkit-animation-timing-function: linear;
}

@-webkit-keyframes shake-animation {
    from {
        margin-top: 0px;
    }
    50% {
        margin-top: 20px;
    }
    to {
        margin-top: 0px;
    }
}